doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Enterprise IoT Systems with Node and MQTT

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    #broker-stats

    article

      section(data-bespoke-backdrop="crane").transwhite
        a(href="http://nearform.com" style="width: 200px")
          img(src="./images/nearform.svg")
        h1 Enterprise IoT Systems with Node and MQTT
        h2 by&nbsp;
          a(href="http://twitter.com/matteocollina") Matteo Collina


      section(data-bespoke-backdrop="crane").trans
        h2(style="margin-left: -100px") An IoT system

      section(data-bespoke-backdrop="politie").trans
        h2(style="margin-left: -100px; color: white;") Another IoT system

      section(data-bespoke-backdrop="office").trans
        h2(style="margin-left: -100px; margin-bottom: -250px; color: white;") One more IoT system

      section(data-bespoke-backdrop="earth").trans
        h2(style="margin-left: -100px; margin-bottom: -250px; color: white;")
          | The world is our playground..

      section(data-bespoke-backdrop="earth").trans
        h2(style="margin-left: -100px; margin-bottom: -250px; color: white;")
          | ..for now :)

      section
        #lux

      section.full-imgs
        img(src='images/me.png')

      section
        h1 Thanks!
        br
        p If you need help with the Internet of Things
        br
        h3 <a href="mailto:hello@matteocollina.com">hello@matteocollina.com</a>
        h3 <a href="http://twitter.com/matteocollina">@matteocollina</a> on Twitter
        h3 <a href="http://www.matteocollina.com">www.matteocollina.com</a>

    script(src='build/build.js')
